<ul class="collection" *ngFor="let movie of movies">
    <li class="collection-item avatar" *ngIf="movie">
    <img [src]="movie.poster" alt={{movie.title}} />
    <span [class.title]="movie.seen">{{movie.title}}</span>
    
    </li>
    </ul>
